### Exercise 1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.naukri.com/")

#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#specifying the url of the web page that needs to be scraped
url=("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore")

#getting driver of the url
driver.get(url)

#creating empty list
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_titles.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_names.append(company_name)
    
#finding tags of the location names
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_list.append(location_name)

#finding tags of the experience names
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

#finding text element in experience tags
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)

#creating a dataframe
jobs=pd.DataFrame({})
jobs["title"]=job_titles[:10]
jobs["company"]=company_names[:10]
jobs["experience_required"]=experience_list[:10]
jobs["location"]=location_list[:10]
jobs

,title,company,experience_required,location
0,"Data Analyst || SQL,Python, R || Bangalore",Binary Semantics Limited,3-7 Yrs,Bengaluru
1,Data Analyst PowerBI Bangalore,Talent Corner HR Services Pvt Ltd,1-3 Yrs,Bengaluru / Bangalore
2,Data Analyst,Bion,2-4 Yrs,Bengaluru
3,Data Analyst - I,Novel Office,0-3 Yrs,Bengaluru
4,Data Analyst,Perficient India Private Limited,3-8 Yrs,"Chennai, Bengaluru"
5,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
6,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
7,Data Analyst,"Liventus, Inc.",3-6 Yrs,Bengaluru(2nd Phase JP Nagar)
8,Looking For Rockstar Data Analyst @ Freshtohom...,Freshtohome Foods Private Limited,2-5 Yrs,Bengaluru
9,SAP Data Analyst,JOHN CRANE SEALING SYSTEMS INDIA PVT. LTD.,3-7 Yrs,Bengaluru

### Exercise 2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [3]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver

#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.naukri.com/")

#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#specifying the url of the web page that needs to be scraped
url1=("https://www.naukri.com/job-listings-data-scientist-python-sql-catalyst-bengaluru-bangalore-2-to-7-years-081119903383?src=jobsearchDesk&sid=16131618602304001&xp=1&px=1")

#getting driver of the url
driver.get(url1)

#creating empty list
job_name_1=[]
company_name_1=[]
location_name_1=[]
job_description_1=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_1.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_1.append(company_name)
company_name_1=company_name_1[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_1.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_1.append(job_description)
job_description_1=job_description_1[:1]

jobs_1=pd.DataFrame({})
jobs_1["title"]=job_name_1
jobs_1["company"]=company_name_1
jobs_1["location"]=location_name_1
jobs_1["job_description"]=job_description_1



#specifying the url of the web page that needs to be scraped
url2=("https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16131666921196657&xp=1&px=1")

#getting driver of the url
driver.get(url2)

#creating empty list
job_name_2=[]
company_name_2=[]
location_name_2=[]
job_description_2=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_2.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_2.append(company_name)
company_name_2=company_name_2[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_2.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")
job_description_tags

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_2.append(job_description)
job_description_2=job_description_2[:1]

jobs_2=pd.DataFrame({})
jobs_2["title"]=job_name_2
jobs_2["company"]=company_name_2
jobs_2["location"]=location_name_2
jobs_2["job_description"]=job_description_2



#specifying the url of the web page that needs to be scraped
url3=("https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16131672806199684&xp=2&px=1")

#getting driver of the url
driver.get(url3)

#creating empty list
job_name_3=[]
company_name_3=[]
location_name_3=[]
job_description_3=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_3.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_3.append(company_name)
company_name_3=company_name_3[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_3.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_3.append(job_description)
job_description_3=job_description_3[:1]

jobs_3=pd.DataFrame({})
jobs_3["title"]=job_name_3
jobs_3["company"]=company_name_3
jobs_3["location"]=location_name_3
jobs_3["job_description"]=job_description_3


#specifying the url of the web page that needs to be scraped
url4=("https://www.naukri.com/job-listings-principal-data-scientist-machine-deep-learning-nlp-tensorflow-fidius-advisory-bengaluru-bangalore-8-to-13-years-070720900498?src=jobsearchDesk&sid=16131682972292745&xp=4&px=1")

#getting driver of the url
driver.get(url4)

#creating empty list
job_name_4=[]
company_name_4=[]
location_name_4=[]
job_description_4=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_4.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_4.append(company_name)
company_name_4=company_name_4[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_4.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_4.append(job_description)
job_description_4=job_description_4[:1]

jobs_4=pd.DataFrame({})
jobs_4["title"]=job_name_4
jobs_4["company"]=company_name_4
jobs_4["location"]=location_name_4
jobs_4["job_description"]=job_description_4


#specifying the url of the web page that needs to be scraped
url5=("https://www.naukri.com/job-listings-data-scientist-atos-syntel-private-limited-chennai-pune-mumbai-bengaluru-bangalore-12-to-18-years-220719001543?src=jobsearchDesk&sid=16131686888815822&xp=5&px=1")

#getting driver of the url
driver.get(url5)

#creating empty list
job_name_5=[]
company_name_5=[]
location_name_5=[]
job_description_5=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_5.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_5.append(company_name)
company_name_5=company_name_5[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_5.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_5.append(job_description)
job_description_5=job_description_5[:1]

jobs_5=pd.DataFrame({})
jobs_5["title"]=job_name_5
jobs_5["company"]=company_name_5
jobs_5["location"]=location_name_5
jobs_5["job_description"]=job_description_5


#specifying the url of the web page that needs to be scraped
url6=("https://www.naukri.com/job-listings-senior-lead-data-scientist-tvs-credit-services-limited-chennai-pune-bengaluru-bangalore-3-to-8-years-261220002239?src=jobsearchDesk&sid=16131699479845590&xp=8&px=1")

#getting driver of the url
driver.get(url6)

#creating empty list
job_name_6=[]
company_name_6=[]
location_name_6=[]
job_description_6=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_6.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_6.append(company_name)
company_name_6=company_name_6[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_6.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_6.append(job_description)
job_description_6=job_description_6[:1]

jobs_6=pd.DataFrame({})
jobs_6["title"]=job_name_6
jobs_6["company"]=company_name_6
jobs_6["location"]=location_name_6
jobs_6["job_description"]=job_description_6


#specifying the url of the web page that needs to be scraped
url7=("https://www.naukri.com/job-listings-senior-data-scientist-nlp-python-r-avi-consulting-llp-bengaluru-bangalore-hyderabad-secunderabad-4-to-9-years-081220907155?src=jobsearchDesk&sid=16131702209617368&xp=9&px=1")

#getting driver of the url
driver.get(url7)

#creating empty list
job_name_7=[]
company_name_7=[]
location_name_7=[]
job_description_7=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_7.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_7.append(company_name)
company_name_7=company_name_7[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_7.append(location_name)
    
#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_7.append(job_description)
job_description_7=job_description_7[:1]

jobs_7=pd.DataFrame({})
jobs_7["title"]=job_name_7
jobs_7["company"]=company_name_7
jobs_7["location"]=location_name_7
jobs_7["job_description"]=job_description_7


#specifying the url of the web page that needs to be scraped
url8=("https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-2-to-7-years-151220006902?src=jobsearchDesk&sid=16131705275458060&xp=10&px=1")

#getting driver of the url
driver.get(url8)

#creating empty list
job_name_8=[]
company_name_8=[]
location_name_8=[]
job_description_8=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_8.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_8.append(company_name)
company_name_8=company_name_8[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_8.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_8.append(job_description)
job_description_8=job_description_8[:1]

jobs_8=pd.DataFrame({})
jobs_8["title"]=job_name_8
jobs_8["company"]=company_name_8
jobs_8["location"]=location_name_8
jobs_8["job_description"]=job_description_8


#specifying the url of the web page that needs to be scraped
url9=("https://www.naukri.com/job-listings-data-scientist-and-senior-data-scientist-academic-operations-randstad-india-pvt-ltd-bengaluru-bangalore-2-to-5-years-080221007079?src=jobsearchDesk&sid=16131711302642736&xp=11&px=1")

#getting driver of the url
driver.get(url9)

#creating empty list
job_name_9=[]
company_name_9=[]
location_name_9=[]
job_description_9=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_9.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_9.append(company_name)
company_name_9=company_name_9[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_9.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_9.append(job_description)
job_description_9=job_description_9[:1]

jobs_9=pd.DataFrame({})
jobs_9["title"]=job_name_9
jobs_9["company"]=company_name_9
jobs_9["location"]=location_name_9
jobs_9["job_description"]=job_description_9


#specifying the url of the web page that needs to be scraped
url10=("https://www.naukri.com/job-listings-sr-analyst-data-scientist-mindtree-limited-bengaluru-bangalore-10-to-15-years-040221502130?src=jobsearchDesk&sid=16131713670108924&xp=12&px=1")

#getting driver of the url
driver.get(url10)

#creating empty list
job_name_10=[]
company_name_10=[]
location_name_10=[]
job_description_10=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_10.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_10.append(company_name)
company_name_10=company_name_10[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_10.append(location_name)
    
#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_10.append(job_description)
job_description_10=job_description_10[:1]

jobs_10=pd.DataFrame({})
jobs_10["title"]=job_name_10
jobs_10["company"]=company_name_10
jobs_10["location"]=location_name_10
jobs_10["job_description"]=job_description_10

#combining two data frames
frames=[jobs_1,jobs_2,jobs_3,jobs_4,jobs_5,jobs_6,jobs_7,jobs_8,jobs_9,jobs_10]
result=pd.concat(frames,ignore_index=True)
result

,title,company,location,job_description
0,Data Scientist - Python/sql,Catalyst,Bengaluru,"Job description\n\nSkill: SQL, Python, Busines..."
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,Data Scientist - Data Mining/ Machine Learning...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
3,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bengaluru,Job Description :\n- We are looking for a rese...
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,..."
5,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Chennai, Pune, Bengaluru",Key Responsibilities\nBe responsible for scali...
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad","Roles and Responsibilities\nSkill : NLP,Semant..."
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities\n\nMust have strong...
8,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD,Bengaluru,We are hiring Data Scientist and Senior Data S...
9,Sr. Analyst-Data Scientist,Mindtree Limited,Bengaluru,Role Description:\nA Sr. Data Scientist who le...

### Exercise 3

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [4]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.naukri.com/")

#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

#clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#specifying the url of the web page that needs to be scraped
url=("https://www.naukri.com/data-scientist-jobs?k=data%20scientist&ctcFilter=3to6&cityType=25.9.31")

#getting driver of the url
driver.get(url)

#creating empty list
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_titles.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    
#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_names.append(company_name)
    
#finding tags of the location names
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_list.append(location_name)
    
#finding tags of the experience names
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

#finding text element in experience tags
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)

#creating a dataframe
jobs=pd.DataFrame({})
jobs["title"]=job_titles[:10]
jobs["company"]=company_names[:10]
jobs["experience_required"]=experience_list[:10]
jobs["location"]=location_list[:10]
jobs

,title,company,experience_required,location
0,Data Scientist,IBM India Pvt. Limited,4-8 Yrs,Gurgaon Gurugram
1,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Noida, Gurgaon"
2,Data Scientist,Ciena,5-6 Yrs,Gurgaon Gurugram
3,Data Scientist,Country Veggie,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
4,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon
5,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,3-5 Yrs,Gurgaon
6,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,1-3 Yrs,Gurgaon
7,Data Scientist,Amity University,6-8 Yrs,"Faridabad, Delhi NCR, Ghaziabad"
8,Data Scientist,BlackBuck,3-7 Yrs,"Bengaluru, Gurgaon"
9,Senior Data Scientist,iNICU,1-5 Yrs,Delhi

### Exercise 7

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [5]:
#creating empty list
rating=[]
review_summary=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART")

for page in range(0,11):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    
    #geting tags for the reviews
    review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the review tags
    for i in review_tags:
        reviews=i.text
        review_summary.append(reviews)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
Iphone=pd.DataFrame({})
Iphone["rating"]=rating[:100]
Iphone["review_summary"]=review_summary[:100]
Iphone["full_review"]=full_review[:100]
Iphone

,rating,review_summary,full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Worth every penny,It’s been almost a month since I have been usi...
98,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
99,4,Nice product,Awesome Phone. Slightly high price but worth. ...

### Exercise  6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [7]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.flipkart.com/")

#finding element for job search bar
search_job=driver.find_element_by_class_name("_3704LK")
search_job.send_keys("Sunglasses")

#clicking the search button
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.click()

In [8]:
#creating empty lists
brand=[]
product_description=[]
price=[]
discount=[]

#creating a loop for the page numbers
for page in range(0,4):
    
    #finding tags for brand names
    brand_name_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    #finding tags for product description
    product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    #finding tags for price
    price_tags=driver.find_elements_by_class_name("_30jeq3")
    
    #finding tags for discount
    discount_tags=driver.find_elements_by_class_name("_3Ay6Sb")
    
    #finding text element in brand tags 
    for i in brand_name_tags:
        brand_name=i.text
        brand.append(brand_name)
        
    #finding text element in description tags   
    for i in product_description_tags:
        product=i.text
        product_description.append(product)
        
    #finding text element in price tags     
    for i in price_tags:
        prices=i.text
        price.append(prices)
    
     #finding text element in discount tags 
    for i in discount_tags:
        dis=i.text
        discount.append(dis)
        
#creating a dataframe
Sunglass=pd.DataFrame({})
Sunglass["brand"]=brand[:100]
Sunglass["product_description"]=product_description[:100]
Sunglass["price"]=price[:100]
Sunglass["discount"]=discount[:100]
Sunglass

,brand,product_description,price,discount
0,Silver Kartz,UV Protection Aviator Sunglasses (88),₹255,78% off
1,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,33% off
96,Fastrack,"Gradient, Mirrored, UV Protection Round, Round...",₹404,79% off
97,shah collections,UV Protection Aviator Sunglasses (58),₹398,73% off
98,Fastrack,"UV Protection Wayfarer, Aviator Sunglasses (88)",₹399,80% off
99,Silver Kartz,"Night Vision, Polarized, UV Protection, Riding...",₹314,80% off

### Exercise 8

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [9]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.flipkart.com/")

#finding element for job search bar
search_job=driver.find_element_by_class_name("_3704LK")
search_job.send_keys("sneakers")

#clicking the search button
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.click()

In [10]:
#creating empty lists
brand=[]
product_description=[]
price=[]
discount=[]

#creating a loop for the page numbers
for page in range(0,4):
    
    #finding tags for brand names
    brand_name_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    #finding tags for product description
    product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    #finding tags for price
    price_tags=driver.find_elements_by_class_name("_30jeq3")
    
    #finding tags for discount
    discount_tags=driver.find_elements_by_class_name("_3Ay6Sb")
    
    #finding text element in brand tags 
    for i in brand_name_tags:
        brand_name=i.text
        brand.append(brand_name)
        
    #finding text element in description tags   
    for i in product_description_tags:
        product=i.text
        product_description.append(product)
        
    #finding text element in price tags     
    for i in price_tags:
        prices=i.text
        price.append(prices)
    
     #finding text element in discount tags 
    for i in discount_tags:
        dis=i.text
        discount.append(dis)
        
#creating a dataframe
Sneakers=pd.DataFrame({})
Sneakers["brand"]=brand[:100]
Sneakers["product_description"]=product_description[:100]
Sneakers["price"]=price[:100]
Sneakers["discount"]=discount[:100]
Sneakers

,brand,product_description,price,discount
0,Wildcraft,Nova Sneakers For Men,"₹1,677",52% off
1,AMROX,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹399,73% off
2,Chevit,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
3,Robbie jones,Combo pack of 2 casual sneaker shoes for men S...,₹399,60% off
4,World Wear Footwear,White Sneaker For Men's/Boy's Sneakers For Men,₹474,76% off
...,...,...,...,...
95,LeatherKraft,Combo Pack of 4 Latest Collection Stylish Casu...,₹398,60% off
96,Restinfoot,Combo pack of 2 casual sneaker shoes for men S...,₹349,65% off
97,Axter,White Sneaker For Men's/Boy's Sneakers For Men,₹236,52% off
98,BRUTON,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹242,65% off
99,Red Tape,Sneakers For Men,₹379,62% off

### Exercise 9

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [13]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get(" https://www.myntra.com/shoes")

#clicking the price filter
price_btn=driver.find_element_by_class_name("price-num")
driver.execute_script("arguments[0].click();", price_btn)

#clicking the colour filter
colour_btn=driver.find_element_by_class_name("colour-num")
driver.execute_script("arguments[0].click();", colour_btn)

In [14]:
#creating empty lists
brand=[]
description=[]
price=[]

#creating a for loop for the pages
for page in range(0,4):
    
    #getting tags for the brand
    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    
    #getting tags for the description
    description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    
    #getting tags for he prices
    price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
    
    #getting text element in the brand tags
    for i in brand_tags:
        brand_name=i.text
        brand.append(brand_name)
    
    #getting text element in the description tags
    for i in description_tags:
        des=i.text
        description.append(des)
    
    #getting text element in the price tags
    for i in price_tags:
        prices=i.text
        price.append(prices)

#creating dataframe        
Shoes=pd.DataFrame({})
Shoes["brand"]=brand[:100]
Shoes["description"]=description[:100]
Shoes["price"]=price[:100]
Shoes

,brand,description,price
0,Nike,Men JORDAN ZOOM '92 Shoes,Rs. 10796Rs. 13495(20% OFF)
1,Nike,Men JORDAN DELTA Basketball,Rs. 12495
2,Nike,Men JOYRIDE Running Shoes,Rs. 11996Rs. 14995(20% OFF)
3,Nike,Men AIR ZOOM VOMERO Running,Rs. 10796Rs. 13495(20% OFF)
4,ADIDAS,Men SOLAR DRIVE 19 M Running,Rs. 8399Rs. 11999(30% OFF)
...,...,...,...
95,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)
96,Hush Puppies,Men Leather Loafers,Rs. 6999
97,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
98,Reebok,Women Flexagon Training Shoes,Rs. 7999
99,Ruosh,Men Textured Derbys,Rs. 8990

### Exercise 10

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [19]:
from selenium.common.exceptions import ElementNotInteractableException
import time

In [20]:
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")
driver.get("https://www.amazon.in/")
time.sleep(5)
try:
    search_bar=driver.find_element_by_id("twotabsearchtextbox")
    search_bar.send_keys("Laptop")
except ElementNotInteractableException as e:
    print("Exception Raised: ",e)
    search_bar=driver.find_element_by_id("twotabsearchtextbox")
    search_bar.send_keys("Laptop")

In [21]:
try:
    search_click=driver.find_element_by_id("nav-search-submit-button")
    search_click.click()
except ElementNotInteractableException as e:
    print("Exception Raised: ",e)
    search_click=driver.find_element_by_id("nav-search-submit-button")
    search_click.click()

In [22]:
search_click=driver.find_element_by_xpath("//i[@class='a-icon a-icon-checkbox']")
search_click.click()

In [29]:
title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
ratings_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']/span")
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [34]:
#creating empty lists
Titles=[]
Ratings=[]
Prices=[]

In [36]:
for i in title_tags:
        title=i.text
        Titles.append(title)

In [37]:
for i in ratings_tags:
        rating=i.text
        Ratings.append(rating)

In [38]:
for i in price_tags:
        prices=i.text
        Prices.append(prices)

In [40]:
#creating dataframe        
Laptops=pd.DataFrame({})
Laptops["Titles"]=Titles[:10]
Laptops["Ratings"]=Ratings
Laptops["Prices"]=Prices[:10]
Laptops

ValueError: Length of values (0) does not match length of index (10)

In [ ]:

for i in ratings_tags:
        rating=i.text
        ratings.append(rating)

for i in price_tags:
        prices=i.text
        price.append(prices)