Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver

In [4]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.naukri.com/")

#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#specifying the url of the web page that needs to be scraped
url=("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore")

#getting driver of the url
driver.get(url)

#creating empty list
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_titles.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_names.append(company_name)
    
#finding tags of the location names
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_list.append(location_name)

#finding tags of the experience names
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

#finding text element in experience tags
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)

#creating a dataframe
jobs=pd.DataFrame({})
jobs["title"]=job_titles[:10]
jobs["company"]=company_names[:10]
jobs["experience_required"]=experience_list[:10]
jobs["location"]=location_list[:10]
jobs

,title,company,experience_required,location
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,1-4 Yrs,Bengaluru
1,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,"Pune, Delhi, Bengaluru, Gurgaon"
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
3,Senior Data Analyst,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
4,Data Analyst,Reliance Jio Infocomm Ltd.,8-9 Yrs,Bengaluru
5,Security Data Analyst,Philips India Limited,2-4 Yrs,Bengaluru
6,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,5-9 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
7,Business / Data Analyst,IBM India Pvt. Limited,2-4 Yrs,Bengaluru
8,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,2-4 Yrs,Bengaluru
9,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [6]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver

#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.naukri.com/")

#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#specifying the url of the web page that needs to be scraped
url1=("https://www.naukri.com/job-listings-data-scientist-python-sql-catalyst-bengaluru-bangalore-2-to-7-years-081119903383?src=jobsearchDesk&sid=16131618602304001&xp=1&px=1")

#getting driver of the url
driver.get(url1)

#creating empty list
job_name_1=[]
company_name_1=[]
location_name_1=[]
job_description_1=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_1.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_1.append(company_name)
company_name_1=company_name_1[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_1.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_1.append(job_description)
job_description_1=job_description_1[:1]

jobs_1=pd.DataFrame({})
jobs_1["title"]=job_name_1
jobs_1["company"]=company_name_1
jobs_1["location"]=location_name_1
jobs_1["job_description"]=job_description_1



#specifying the url of the web page that needs to be scraped
url2=("https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16131666921196657&xp=1&px=1")

#getting driver of the url
driver.get(url2)

#creating empty list
job_name_2=[]
company_name_2=[]
location_name_2=[]
job_description_2=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_2.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_2.append(company_name)
company_name_2=company_name_2[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_2.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")
job_description_tags

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_2.append(job_description)
job_description_2=job_description_2[:1]

jobs_2=pd.DataFrame({})
jobs_2["title"]=job_name_2
jobs_2["company"]=company_name_2
jobs_2["location"]=location_name_2
jobs_2["job_description"]=job_description_2



#specifying the url of the web page that needs to be scraped
url3=("https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16131672806199684&xp=2&px=1")

#getting driver of the url
driver.get(url3)

#creating empty list
job_name_3=[]
company_name_3=[]
location_name_3=[]
job_description_3=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_3.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_3.append(company_name)
company_name_3=company_name_3[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_3.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_3.append(job_description)
job_description_3=job_description_3[:1]

jobs_3=pd.DataFrame({})
jobs_3["title"]=job_name_3
jobs_3["company"]=company_name_3
jobs_3["location"]=location_name_3
jobs_3["job_description"]=job_description_3


#specifying the url of the web page that needs to be scraped
url4=("https://www.naukri.com/job-listings-principal-data-scientist-machine-deep-learning-nlp-tensorflow-fidius-advisory-bengaluru-bangalore-8-to-13-years-070720900498?src=jobsearchDesk&sid=16131682972292745&xp=4&px=1")

#getting driver of the url
driver.get(url4)

#creating empty list
job_name_4=[]
company_name_4=[]
location_name_4=[]
job_description_4=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_4.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_4.append(company_name)
company_name_4=company_name_4[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_4.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_4.append(job_description)
job_description_4=job_description_4[:1]

jobs_4=pd.DataFrame({})
jobs_4["title"]=job_name_4
jobs_4["company"]=company_name_4
jobs_4["location"]=location_name_4
jobs_4["job_description"]=job_description_4


#specifying the url of the web page that needs to be scraped
url5=("https://www.naukri.com/job-listings-data-scientist-atos-syntel-private-limited-chennai-pune-mumbai-bengaluru-bangalore-12-to-18-years-220719001543?src=jobsearchDesk&sid=16131686888815822&xp=5&px=1")

#getting driver of the url
driver.get(url5)

#creating empty list
job_name_5=[]
company_name_5=[]
location_name_5=[]
job_description_5=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_5.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_5.append(company_name)
company_name_5=company_name_5[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_5.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_5.append(job_description)
job_description_5=job_description_5[:1]

jobs_5=pd.DataFrame({})
jobs_5["title"]=job_name_5
jobs_5["company"]=company_name_5
jobs_5["location"]=location_name_5
jobs_5["job_description"]=job_description_5


#specifying the url of the web page that needs to be scraped
url6=("https://www.naukri.com/job-listings-senior-lead-data-scientist-tvs-credit-services-limited-chennai-pune-bengaluru-bangalore-3-to-8-years-261220002239?src=jobsearchDesk&sid=16131699479845590&xp=8&px=1")

#getting driver of the url
driver.get(url6)

#creating empty list
job_name_6=[]
company_name_6=[]
location_name_6=[]
job_description_6=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_6.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_6.append(company_name)
company_name_6=company_name_6[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_6.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_6.append(job_description)
job_description_6=job_description_6[:1]

jobs_6=pd.DataFrame({})
jobs_6["title"]=job_name_6
jobs_6["company"]=company_name_6
jobs_6["location"]=location_name_6
jobs_6["job_description"]=job_description_6


#specifying the url of the web page that needs to be scraped
url7=("https://www.naukri.com/job-listings-senior-data-scientist-nlp-python-r-avi-consulting-llp-bengaluru-bangalore-hyderabad-secunderabad-4-to-9-years-081220907155?src=jobsearchDesk&sid=16131702209617368&xp=9&px=1")

#getting driver of the url
driver.get(url7)

#creating empty list
job_name_7=[]
company_name_7=[]
location_name_7=[]
job_description_7=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_7.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_7.append(company_name)
company_name_7=company_name_7[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_7.append(location_name)
    
#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_7.append(job_description)
job_description_7=job_description_7[:1]

jobs_7=pd.DataFrame({})
jobs_7["title"]=job_name_7
jobs_7["company"]=company_name_7
jobs_7["location"]=location_name_7
jobs_7["job_description"]=job_description_7


#specifying the url of the web page that needs to be scraped
url8=("https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-2-to-7-years-151220006902?src=jobsearchDesk&sid=16131705275458060&xp=10&px=1")

#getting driver of the url
driver.get(url8)

#creating empty list
job_name_8=[]
company_name_8=[]
location_name_8=[]
job_description_8=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_8.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_8.append(company_name)
company_name_8=company_name_8[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_8.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_8.append(job_description)
job_description_8=job_description_8[:1]

jobs_8=pd.DataFrame({})
jobs_8["title"]=job_name_8
jobs_8["company"]=company_name_8
jobs_8["location"]=location_name_8
jobs_8["job_description"]=job_description_8


#specifying the url of the web page that needs to be scraped
url9=("https://www.naukri.com/job-listings-data-scientist-and-senior-data-scientist-academic-operations-randstad-india-pvt-ltd-bengaluru-bangalore-2-to-5-years-080221007079?src=jobsearchDesk&sid=16131711302642736&xp=11&px=1")

#getting driver of the url
driver.get(url9)

#creating empty list
job_name_9=[]
company_name_9=[]
location_name_9=[]
job_description_9=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_9.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_9.append(company_name)
company_name_9=company_name_9[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_9.append(location_name)

#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_9.append(job_description)
job_description_9=job_description_9[:1]

jobs_9=pd.DataFrame({})
jobs_9["title"]=job_name_9
jobs_9["company"]=company_name_9
jobs_9["location"]=location_name_9
jobs_9["job_description"]=job_description_9


#specifying the url of the web page that needs to be scraped
url10=("https://www.naukri.com/job-listings-sr-analyst-data-scientist-mindtree-limited-bengaluru-bangalore-10-to-15-years-040221502130?src=jobsearchDesk&sid=16131713670108924&xp=12&px=1")

#getting driver of the url
driver.get(url10)

#creating empty list
job_name_10=[]
company_name_10=[]
location_name_10=[]
job_description_10=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_name_10.append(title)
    
#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")

#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_name_10.append(company_name)
company_name_10=company_name_10[:1]

#finding tags of the location names
location_tags=driver.find_elements_by_class_name("location")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_name_10.append(location_name)
    
#finding text element in job description tags
job_description_tags=driver.find_elements_by_class_name("dang-inner-html")

#finding text element in location tags
for i in job_description_tags:
    job_description=i.text
    job_description_10.append(job_description)
job_description_10=job_description_10[:1]

jobs_10=pd.DataFrame({})
jobs_10["title"]=job_name_10
jobs_10["company"]=company_name_10
jobs_10["location"]=location_name_10
jobs_10["job_description"]=job_description_10

#combining two data frames
frames=[jobs_1,jobs_2,jobs_3,jobs_4,jobs_5,jobs_6,jobs_7,jobs_8,jobs_9,jobs_10]
result=pd.concat(frames,ignore_index=True)
result

,title,company,location,job_description
0,Data Scientist - Python/sql,Catalyst,Bengaluru,"Job description\n\nSkill: SQL, Python, Busines..."
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,Data Scientist - Data Mining/ Machine Learning...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
3,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bengaluru,Job Description :\n- We are looking for a rese...
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,..."
5,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Chennai, Pune, Bengaluru",Key Responsibilities\nBe responsible for scali...
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad","Roles and Responsibilities\nSkill : NLP,Semant..."
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities\n\nMust have strong...
8,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD,Bengaluru,We are hiring Data Scientist and Senior Data S...
9,Sr. Analyst-Data Scientist,Mindtree Limited,Bengaluru,Role Description:\nA Sr. Data Scientist who le...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [10]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.naukri.com/")

#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

#clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#specifying the url of the web page that needs to be scraped
url=("https://www.naukri.com/data-scientist-jobs?k=data%20scientist&ctcFilter=3to6&cityType=25.9.31")

#getting driver of the url
driver.get(url)

#creating empty list
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

#finding tags of job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#finding text element in the job title tags
for i in titles_tags:
    title=i.text
    job_titles.append(title)

#finding tags of company names
company_name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    
#finding text element in company name tags
for i in company_name_tags:
    company_name=i.text
    company_names.append(company_name)
    
#finding tags of the location names
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#finding text element in location tags
for i in location_tags:
    location_name=i.text
    location_list.append(location_name)
    
#finding tags of the experience names
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

#finding text element in experience tags
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)

#creating a dataframe
jobs=pd.DataFrame({})
jobs["title"]=job_titles[:10]
jobs["company"]=company_names[:10]
jobs["experience_required"]=experience_list[:10]
jobs["location"]=location_list[:10]
jobs

,title,company,experience_required,location
0,Data Scientist,Country Veggie,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
1,Data Scientist,IBM India Pvt. Limited,4-8 Yrs,Gurgaon Gurugram
2,Senior Data Scientist - Computer Vision,IRIS SOFTWARE Inc,4-9 Yrs,Delhi NCR
3,Data Scientist - Machine Learning/ NLP,TalPro,2-6 Yrs,Gurgaon Gurugram
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Noida, Gurgaon"
5,Data Scientist,Ciena,5-6 Yrs,Gurgaon Gurugram
6,Data Scientist - Tableau/Power BI,Talent Stock Solutions,1-3 Yrs,Delhi
7,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs,"Pune, Bengaluru, Gurgaon"
8,Data Scientist - IT,Ehireo,4-9 Yrs,Gurgaon
9,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [27]:
#connecting with the web driver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the url
driver.get("https://www.flipkart.com/")

In [28]:
#finding element for job search bar
search_job=driver.find_element_by_class_name("_3704LK")
search_job.send_keys("Sunglasses")

In [29]:
#clicking the search button
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.click()

In [30]:
#creating empty lists
brand=[]
product_description=[]
price=[]
discount=[]

In [31]:
#finding tags for brand names
brand_name_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [32]:
#finding text element in the brand name tags
for i in brand_name_tags:
    brand_name=i.text
    brand.append(brand_name)

In [33]:
#finding tags for product description
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [34]:
#finding text element in the product description tags
for i in product_description_tags:
    product=i.text
    product_description.append(product)

In [35]:
#finding tags for price
price_tags=driver.find_elements_by_class_name("_30jeq3")

In [36]:
#finding text element in the price tags
for i in price_tags:
    prices=i.text
    price.append(prices)

In [37]:
#finding tags for discount
discount_tags=driver.find_elements_by_class_name("_3Ay6Sb")

In [38]:
#finding text element in the discount tags
for i in discount_tags:
    dis=i.text
    discount.append(dis)

In [40]:
#creating a dataframe
page_1=pd.DataFrame({})
page_1["brand"]=brand[:35]
page_1["product_description"]=product_description[:35]
page_1["price"]=price[:35]
page_1["discount"]=discount[:35]

In [ ]:
#going to the next page
driver.get("https://www.flipkart.com/")