### Importing Libraries

In [45]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver

### Scraping Phones Details

In [46]:
#creating empty list
rating=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART")

for page in range(0,500):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
   
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
mobile=pd.DataFrame({})
mobile["rating"]=rating
mobile["full_review"]=full_review
mobile

     rating                                        full_review
0         5  Really satisfied with the Product I received.....
1         5  The Best Phone for the Money\n\nThe iPhone 11 ...
2         5  Amazing phone with great cameras and better ba...
3         5  This is my first iOS phone. I am very happy wi...
4         5  Previously I was using one plus 3t it was a gr...
...     ...                                                ...
4995      5  Amazing Powerful and Durable Gadget.\n\nI‚Äôm am...
4996      4  So far it‚Äôs been an AMAZING experience coming ...
4997      5  i11 is worthy to buy, too much happy with the ...
4998      5  iphone 11 is a very good phone to buy only if ...
4999      5  It‚Äôs a must buy who is looking for an upgrade ...

[5000 rows x 2 columns]

In [48]:
mobile.to_csv("mobile")

### Scraping Watches Details

In [32]:
#creating empty list
rating=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/bastex-smart-fitness-band/product-reviews/itm2a81686ff640c?pid=SBNFHZ3DE7D7PXXU&lid=LSTSBNFHZ3DE7D7PXXUSY4KLM&marketplace=FLIPKART")

for page in range(0,500):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
   
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
watch=pd.DataFrame({})
watch["rating"]=rating
watch["full_review"]=full_review
watch

     rating                                        full_review
0         5  this was an awesome product its good battery l...
1         5  Its very nice watch,üòçüëç I love this watch , Eve...
2         4  I can't connect my iPhone and Android.App lefu...
3         5  nice product don't look at negative feedback g...
4         5                                       good product
...     ...                                                ...
4995      5          Nice product it help me to save more time
4996      5                                         Love it...
4997      5                  nice it was reached time se pehle
4998      5  its a very nice watch you must buy this is awa...
4999      5                             Vari good prdukt üëåüëåüëåüëåüëå

[5000 rows x 2 columns]

In [33]:
watch.to_csv("watch")

### Scraping Headphones Details

In [47]:
#creating empty list
rating=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/boat-bassheads-103-black-wired-headset/product-reviews/itm6b3285329157f?pid=ACCFGYHGGDCFYCA3&lid=LSTACCFGYHGGDCFYCA3NCS7JM&marketplace=FLIPKART")

for page in range(0,500):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
   
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
headphone=pd.DataFrame({})
headphone["rating"]=rating[:4500]
headphone["full_review"]=full_review[:4500]
headphone

     rating                                        full_review
0         5  The product comes with a warranty card for one...
1         4  Awesome product.. i received it earlier than t...
2         5  Super purchase. Boat is a good company. For mi...
3         5  very Good Product with enough bass..and nice d...
4         5  Colour is awesome... God's grace I'm lucky to ...
...     ...                                                ...
4495      5  Great product in the price range. Decent sound...
4496      4  It's a nice product for the price good sound q...
4497      5  These earphones are pretty basic yet they fail...
4498      5  So here I want to mention that this earphones ...
4499      5  Great product in a very good price range. Ligh...

[4500 rows x 2 columns]

In [49]:
headphone.to_csv("headphone")

### Scraping Camera Details

In [36]:
#creating empty list
rating=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/fujifilm-x-series-x-t200-mirrorless-camera-body-15-45-mm-lens/product-reviews/itmb51468b6beb47?pid=DLLFXQSTMG2ZHGEB&lid=LSTDLLFXQSTMG2ZHGEBPVOZEQ&marketplace=FLIPKART")

for page in range(0,500):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
   
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
camera=pd.DataFrame({})
camera["rating"]=rating[:4500]
camera["full_review"]=full_review[:4500]
camera

     rating                                        full_review
0         4  For a beginner, this Camera seems to be the be...
1         5  It's a nice budget entry level mirrorless came...
2         5  People who ever plan to progress from novice t...
3         5  it's a awesome camera loved it.\nreally underr...
4         4  After 3 days of usage:\nI'm very unimpressed b...
...     ...                                                ...
4495      5  My first mirroless camera. After searching a l...
4496      4                Awesome camera in this price range.
4497      5  Pros- Image Quality\nColour reproduction\nWiFi...
4498      5  Amazing... User friendly! Very good picture an...
4499      5                            Value for money\nSuperb

[4500 rows x 2 columns]

In [38]:
camera.to_csv("camera")

### Scraping Printers Details

In [40]:
#creating empty list
rating=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/hp-deskjet-2723-multi-function-wifi-color-printer-voice-activated-printing-google-assistant-alexa/product-reviews/itm2e7e1651d7330?pid=PRNFTXAWBMU9VGTN&lid=LSTPRNFTXAWBMU9VGTN4PU1NY&marketplace=FLIPKART")

for page in range(0,500):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
   
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
printer=pd.DataFrame({})
printer["rating"]=rating[:3000]
printer["full_review"]=full_review[:3000]
printer

     rating                                        full_review
0         5  It has all the facilities to eliminate too man...
1         5                              Excellent Product\n..
2         3  Ink drains in the first 50 pages.dont buy this...
3         5  It's nice for those who have a less usage\n(Yo...
4         5                                             Thanks
...     ...                                                ...
2995      5  Quickly completing ink cartridges and giving v...
2996      3  This product is very bad and not working seven...
2997      5                                AMAZING PRINTING üëçüëç
2998      5  The printer works absolutely well and you can ...
2999      5  Useless product. Cartrage finishes very fast. ...

[3000 rows x 2 columns]

In [41]:
printer.to_csv("printer")

### Scraping Router Details

In [43]:
#creating empty list
rating=[]
full_review=[]

#getting the webdriver
driver=webdriver.Chrome("C:\Program Files\chromedriver.exe")

#getting the page url
driver.get("https://www.flipkart.com/d-link-dir-615-wireless-n-300-router/product-reviews/itme3xwg9x9jgsyh?pid=RTRE3XW76EHCJUGH&lid=LSTRTRE3XW76EHCJUGHL3JOYL&marketplace=FLIPKART")

for page in range(0,500):
    
    #getting tags for the ratings
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
   
    #getting tags for the full reviews
    full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    #getting text element from the rating tags
    for i in rating_tags:
        ratings=i.text
        rating.append(ratings)
    
    #getting text element from the full review tags
    for i in full_review_tags:
        full=i.text
        full_review.append(full)
    
router=pd.DataFrame({})
router["rating"]=rating[:5000]
router["full_review"]=full_review[:5000]
router

     rating                                        full_review
0         5  I have bought this product in a hurry since I ...
1         5  Good product delivered on time A real gem for ...
2         5  Hi..\nI ordered the product and got it deliver...
3         4  My existing ADSL N router (D-Link DSL-2750U) w...
4         5  Close your eyes and just go for it. Amazing pr...
...     ...                                                ...
4995      5  Good router, working fine and has a very good ...
4996      5  I had ordered TP-Link TL-WR841 N 300 Router be...
4997      5  Product quality is very good. This size is ver...
4998      4  Quadrupled my speed ?\nQuadrupled my speed at ...
4999      4  very nice product.Range of the wifi is very ve...

[5000 rows x 2 columns]

In [44]:
router.to_csv("router")

### Joining Dataframe

In [52]:
#combining all the above data frames
all_reviews_ratings=[mobile, watch, printer, router, headphone, camera]
reviews_ratings=pd.concat(all_reviews_ratings,ignore_index=True)
reviews_ratings

      rating                                        full_review
0          5  Really satisfied with the Product I received.....
1          5  The Best Phone for the Money\n\nThe iPhone 11 ...
2          5  Amazing phone with great cameras and better ba...
3          5  This is my first iOS phone. I am very happy wi...
4          5  Previously I was using one plus 3t it was a gr...
...      ...                                                ...
28995      5  My first mirroless camera. After searching a l...
28996      4                Awesome camera in this price range.
28997      5  Pros- Image Quality\nColour reproduction\nWiFi...
28998      5  Amazing... User friendly! Very good picture an...
28999      5                            Value for money\nSuperb

[29000 rows x 2 columns]

In [53]:
reviews_ratings.to_csv("reviews_ratings")